html {
    font-family: "Raleway", "Helvetica", sans-serif;
    color: #0234c0;
    width: 100%;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.icon {color: #BCD2DA;}

.card {
    /* display, flex-direction */
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;
    align-content: center;

}

.card__description {
    /* display, flex-direction, justify-content, align-items */
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.card__price {
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

.cardGroup {
    /* display */
    margin: 0 auto;
    width: 710px;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    height: 300px;
    text-align: center;
    justify-content: center;
    
    
  }
  
    .cardGroup__card {
      /* flex-grow, flex-shrink, flex-basis */
      display: flex;
      flex-grow: 1;
      border: none;
      border-radius: 5px;
      flex-basis: 0;
    }
  
    .cardGroup__card {
      border-left: 1px solid #D7DBDD;
    }
  
    .cardGroup__cardDescription {
      /* flex-grow, flex-shrink, flex-basis */
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

      @media (max-width: 320px){
        body{

          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
        }
        .cardGroup{
          display: flex;
          flex-direction: column;
          
        }
        .cardGroup__card {
          /* flex-grow, flex-shrink, flex-basis */
          display: flex;
          /* flex-grow: 1; */
          border: none;
          border-radius: 5px;
          flex-basis: auto;
          border-bottom: 1px solid #D7DBDD;
          
        }
        .cardGroup__cardDescription {
          /* flex-grow, flex-shrink, flex-basis */
          display: flex;
          flex-grow: 1;
          flex-basis: 1;
        }
        .card__price{
          
          border: none;
        }

    }
    
      
    